:root {
    --bg-primary: rgb(27, 27, 27);
    --bg-hover: rgb(60, 60, 60);
    --height: calc(100vh - 10px - 10px);
}

body {
    background-color: black;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p, i, span, label {
    color: white;
}

p{
    margin: 0;
}

.bg-theme-primary {
    background-color: var(--bg-primary);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
}

/* Contact */
.contact {
    height: var(--height);
    border-right: 1px solid gray;
}

.header > div:not(.menu, .search){
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}

.menu{
    width: 100%;
    height: 40px;
    display: flex;
    list-style: none;
    position: relative;
}

.menu>a:not(.notif){
    line-height: calc(40px - 10px);
    width: 43%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
}

.notif{
    line-height: calc(40px - 10px);
    text-align: center;
    width: 14%;
}

.line{
    position: absolute;
    height: 4px;
    width: 43%;
    background-color: white;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    left: 0;
    transition: all 200ms ease;
}

.menu>:nth-child(2).active ~ .line{
    transition: all 200ms ease;
    width: 43%;
    left: 43%;
}

.menu>:nth-child(3).active ~ .line{
    transition: all 200ms ease;
    width: 14%;
    left: 86%;
}

.contact-content {
    background-color: black;
    height: calc(100% - 70px - 40px - 70px);
    overflow-y: overlay;
    overflow-x: hidden;
}

[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
    background-size: 10px;
    filter: brightness(0) invert(1);
}

.profile {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.person {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.person:hover {
    background-color: var(--bg-hover);
}

.person:active{
    background-color: rgb(35, 35, 35);
}

.person-wrapper{
    position: relative;
}

.person-wrapper.active > .person{
    background-color: var(--bg-hover);
}

.person-wrapper.active>.cool-active{
    z-index: 999;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 4px;
    left: 0;
    border-radius: 0 7px 7px 0;
}

.person-avatar{
    height: 100%;
    position: relative;
}
.person-avatar>img {
    height: 100%;
}

.online{
    aspect-ratio: 1/1;
    width: 13px;
    background: rgb(0, 162, 0);
    border-radius: 50%;
    position: absolute;
    right: 3px;
    bottom: 3px;
    border: 1px solid white;
}

.offline{
    aspect-ratio: 1/1;
    width: 13px;
    background: rgb(90, 90, 90);
    border-radius: 50%;
    position: absolute;
    right: 3px;
    bottom: 3px;
    border: 1px solid white;
}

.person>div:not(.person-avatar) {
    padding-top: 5px;
    overflow: hidden;
}

.person-chat{
    display: block;
    font-size: 13px;
    color: rgb(174, 174, 174);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* End of Contact */

/* Chat */
.chat {
    height: var(--height);
}

.recipient {
    height: 70px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.chat-content {
    background-color: black;
    height: calc(100% - 70px - 70px);
    overflow-y: overlay;
    overflow-x: hidden;
}

.chat-message{
    background-color: rgb(60, 60, 60);
    width: fit-content;
    max-width: 70%;
    padding: 7px 15px;
    margin: 7px 15px;
    border-radius: 20px;
    word-wrap: break-word;
}

.chat-message sub{
    font-size: 11px;
}

.input-message {
    height: 70px;
}

.input-message>form {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.input-message>form i {
    font-size: 20px;
}

.input-message>form>.cool-btn {
    height: 100%;
}
.input-message>form img {
    height: 55%;
}

/* End of Chat */