/* Theme */
.bg-theme-primary {
    background-color: var(--bg-primary);
}

.dropdown-theme-primary {
    background-color: var(--bg-primary);
}

.dropdown-theme-primary * {
    color: white;
}

.dropdown-theme-primary * :active {
    background-color: var(--bg-hover);
}

.field-theme{
    position: relative;
}

.field-theme>label{
    position: absolute;
    top: 32%;
    left: 20px;
    translate: 0 -50%;
    cursor: text;
    color: rgb(163, 163, 163);
    transition: all 200ms ease;
}

.field-theme>input:focus ~ label{
    top: 0px;
    font-size: 14px;
    color: white;
    transition: all 200ms ease;
}

.field-theme>input:valid:not(:focus) ~ label{
    top: 0px;
    font-size: 14px;
    color: rgb(163, 163, 163);
    transition: all 200ms ease;
}

.input-theme{
    background-color: var(--bg-hover);
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
}

.input-theme::placeholder{
    color: rgb(163, 163, 163);
}

.input-theme:focus{
    background-color: var(--bg-hover);
    color: white;
    border: none;
    outline: none;
}

.input-theme.invalid{
    border: 1px solid red !important;
}

.error-message{
    position: absolute;
    color: red;
    font-size: 12px;
    left: 0;
    bottom: 5px;
}

.input-theme:-webkit-autofill,
.input-theme:-webkit-autofill:hover, 
.input-theme:-webkit-autofill:focus, 
.input-theme:-webkit-autofill:active{
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.cool-btn {
    transition: all 200ms ease;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px;
    padding-left: 12px;
    aspect-ratio: 1/1;
    text-decoration: none;
}

.cool-btn:hover {
    transition: all 200ms ease;
    background-color: var(--bg-hover);
}